<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Name="Sysmon" 
           Id="*" 
           UpgradeCode="0B1256C3-48D5-4890-B4D0-2B53A0FDF0B7"
           Language="1033"
           Codepage="1252"
           Version="6.0"
           Manufacturer="Sysinternals">
    <Package Id="*"
             Keywords="Installer"
             Description="Installer for Sysmon"
             InstallerVersion="300"
             Languages="1033"
             Compressed="yes"
             SummaryCodepage="1252"/>
    <Media Id="1" Cabinet="Sysmon.cab" EmbedCab="yes" DiskPrompt="Not Used"/>
    <Property Id="DiskPrompt" Value="Not Used"/>
    
    <MajorUpgrade AllowDowngrades="yes"/>
      
    <Property Id="SYSMON_EXISTS">
      <DirectorySearch Id="CheckFileDir" Path="[WindowsFolder]" Depth="0">
        <FileSearch Id="CheckFile" Name="Sysmon.exe" />
      </DirectorySearch>
    </Property>
    
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="PFiles">
        <Directory Id="Sysinternals" Name="Sysinternals">
          <Directory Id="SysmonFolder" Name="Sysmon">
            <Component Id="sysmonEula" Guid="0C3BC8F8-E319-4932-84BD-D1F1E925B474">
              <File Id="eula" Name="eula.txt" Source="eula.txt" KeyPath="yes"/>
            </Component>
            <Component Id="Configuration" Guid="A7B611F9-9971-46F4-812B-207FDABB4EF1">
              <File Id="config" Name="sysmon_config.xml" Source="sysmon_config.xml" KeyPath="yes"/>
            </Component>
            <Component Id="SysmonBinary" Guid="1DBCD47A-6ECF-41BE-9B34-85FEB7931137">
              <File Id="SysmonBinaryFile" Name="Sysmon.exe" Source="Sysmon.exe" KeyPath="yes"/>
            </Component>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
    
    <InstallExecuteSequence>
      <Custom Action="SetPath" Before="StopSysmon"></Custom>
      <Custom Action="StopSysmon" After="InstallInitialize">SYSMON_EXISTS</Custom>
      <Custom Action="RemoveSysmon" After="StopSysmon">SYSMON_EXISTS</Custom>
      <Custom Action="InstallSysmon" Before="InstallFinalize">NOT REMOVE</Custom>
    </InstallExecuteSequence>
    <CustomAction Id="SetPath" Property="SYSMON" Value="[WindowsFolder]\Sysmon.exe"/>
    <CustomAction Id="RemoveSysmon" Directory="TARGETDIR" ExeCommand='cmd /C "del [SYSMON]"' Impersonate="no" Execute="commit" Return="check"/>
    <CustomAction Id="StopSysmon" Property="SYSMON" ExeCommand="-u" Impersonate="no" Execute="commit" Return="ignore"/> 
    
    <CustomAction Id="UninstallSysmon" Property="SYSMON" ExeCommand="-u" Return="ignore"/> 
    <CustomAction Id="InstallSysmon" Directory="TARGETDIR" ExeCommand="&quot;[ProgramFilesFolder]\Sysinternals\Sysmon\Sysmon.exe&quot; -accepteula -i &quot;[ProgramFilesFolder]\Sysinternals\Sysmon\sysmon_config.xml&quot;" Execute="commit" Impersonate="no" Return="check"/>
        
    <Feature Id='Complete' Level='1'>
      <Feature Id='MainProgram' Level='1'>
        <ComponentRef Id='sysmonEula' />
        <ComponentRef Id='Configuration' />  
        <ComponentRef Id='SysmonBinary' />
      </Feature>
    </Feature>
  </Product>
</Wix>
